# 커피빈 매장 크롤링: Selenium

- https://www.coffeebeankorea.com/store/store.asp

Selenium
- find_element_by_css_selector
- find_element_by_id
- page_source
- text
- click( )
- send_keys( )

In [69]:
#from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
import warnings

warnings.filterwarnings(action='ignore')

In [70]:
CoffeeBean_URL = "https://www.coffeebeankorea.com/store/store.asp"
wd = webdriver.Chrome('chromedriver.exe')

wd.get(CoffeeBean_URL)
time.sleep(1)

- execute_script()

In [78]:
df_cb = pd.DataFrame({'매장이름':store_name, 'address':store_add, 'phone':store_tel}, index=[0])
df_cb

      매장이름                  address         phone
0  학동역 DT점  주소 서울시 강남구 학동로 211 1층\n  02-3444-9973