## **네이버 API를 이용한 크롤링 - 함수**

*   create_url(): url 값
*   get_dataframe(): DataFrame 결과
*   get_naversearch(): 100개 이상을 한번에 크롤링

In [ ]:
import urllib.request
import json
import pandas as pd

client_id = "NF2TCAQqqHTA4odGbBEu"
client_secret = "9iDDbfErDj"

In [ ]:
"""encText = urllib.parse.quote("파이썬")
url = "https://openapi.naver.com/v1/search/book.json?query=" + encText + "&start=2&display=3" # json 결과
# url = "https://openapi.naver.com/v1/search/blog.xml?query=" + encText # xml 결과

req = urllib.request.Request(url)
req.add_header("X-Naver-Client-Id",client_id)
req.add_header("X-Naver-Client-Secret",client_secret)
response = urllib.request.urlopen(req)
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    results = response_body.decode('utf-8')
else:
    print("Error Code:" + rescode)"""

In [ ]:
#result = json.loads(results)
#result

{'display': 3,
 'items': [{'author': '나동빈',
   'description': '8가지 핵심 알고리즘 이론을 쉽게 설명하고, 관련 실전 문제를 풀이했다. 출제 유형 분석, 이론 설명, 기출문제 풀이까지! 어떤 코딩 테스트도 이 책 한 권으로 대비할 수 있을 것이다. 코딩 테스트에서 주로 선택하는 <b>파이썬</b>을 기반으로 설명되어 있으며, <b>파이썬</b> 코드 외에도 C/C++, 자바 코드를 추가로 제공한다.',
   'discount': '30600',
   'image': 'https://bookthumb-phinf.pstatic.net/cover/164/391/16439154.jpg?type=m1&udate=20200928',
   'isbn': '1162243074 9791162243077',
   'link': 'http://book.naver.com/bookdb/book_detail.php?bid=16439154',
   'price': '34000',
   'pubdate': '20200805',
   'publisher': '한빛미디어',
   'title': '이것이 취업을 위한 코딩 테스트다 with <b>파이썬</b> (취업과 이직을 결정하는 알고리즘 인터뷰 완벽 가이드)'},
  {'author': '박응용',
   'description': '<b>파이썬</b> 4년 연속 베스트셀러 1위!\n《DO IT! 점프 투 <b>파이썬</b>》 전면 개정판 출시!문과생도 중고등학생도 직장인도 프로그래밍에 눈뜨게 만든 바로 그 책이... 점프 투 <b>파이썬</b>》으로 출간되었던 이 책은 약 4년 동안의 피드백을 반영하여 초보자가 더 빠르게 입문하고, 더 깊이 있게 공부할 수 있도록 개정되었다.... ',
   'discount': '16920',
   'image': 'https://bookthumb-phinf.pstatic.net/cover/150/529/15052904.jpg?type=m1&udate=20200910',
   'isbn': '1163030910 9791163030911',
   'link': 'http://book.naver.com/bookdb/book_detail.php?bid=15052904',
   'price': '18800',
   'pubdate': '20190620',
   'publisher': '이지스퍼블리싱',
   'title': 'Do it! 점프 투 <b>파이썬</b>'},
  {'author': '윤인성',
   'description': '1:1 과외하듯 배우는 <b>파이썬</b> 프로그래밍 자습서(<b>파이썬</b> 최신 버전 반영)\n27명의 베타리더 검증으로, ‘함께 만든’ 입문자 맞춤형 도서\n\n이 책은 독학으로 프로그래밍 언어를 처음 배우려는 입문자가, 혹은 <b>파이썬</b>을 배우려는 입문자가 ‘꼭 필요한 내용을 제대로’ 학습할 수 있도록 구성했다. ‘무엇을’... ',
   'discount': '16200',
   'image': 'https://bookthumb-phinf.pstatic.net/cover/150/286/15028688.jpg?type=m1&udate=20220129',
   'isbn': '1162241888 9791162241882',
   'link': 'http://book.naver.com/bookdb/book_detail.php?bid=15028688',
   'price': '18000',
   'pubdate': '20190610',
   'publisher': '한빛미디어',
   'title': '혼자 공부하는 <b>파이썬</b> (<b>파이썬</b> 최신 버전 반영)'}],
 'lastBuildDate': 'Tue, 22 Mar 2022 10:01:31 +0900',
 'start': 2,
 'total': 1535}

**1) 사용자 정의 함수 : create_url()**
1.   parameter 값 정의: search_type, search_text, start_num, display_num
2.   return 값 정의 : "https://openapi.naver.com/v1/search/" + "book"+".json?query=" + "encText" + "&start="+"1"+"&display="+"3"
3.   함수명 정의: def create_url(search_type, search_text, start_num, display_num)

In [ ]:
#사용자 정의 함수
def create_url(search_type, search_text, start_num, display_num):
    base = "https://openapi.naver.com/v1/search/"
    node = search_type + ".json"
    param_query = "?query=" + urllib.parse.quote(search_text)
    param_start = "&start=" + str(start_num)
    param_disp = "&display=" + str(display_num)

    return base + node + param_query + param_start + param_disp

In [ ]:
#호출
create_url("book", "python", 2, 100)

'https://openapi.naver.com/v1/search/book.json?query=python&start=2&display=100'

[질문] **Columns이 책제목,	작가,	출판일로 구성된 테이블을 어떻게 만들것인가?**

In [ ]:
url = create_url("book", "파이썬", 1, 100)
    
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id", client_id)
request.add_header("X-Naver-Client-Secret", client_secret)
    
response = urllib.request.urlopen(request)

result = json.loads(response.read().decode('utf-8'))
result

In [ ]:
len(result['items'])

2

In [ ]:
"""titles = [ ]
for n in range(101):
  titles.append(result['items'][n]['title'])

titles"""

"titles = [ ]\nfor n in range(101):\n  titles.append(result['items'][n]['title'])\n\ntitles"

In [ ]:
titles = [result['items'][n]['title']for n in range(3)]
titles

['<b>파이썬</b> for Beginner (쉽고 빠르게 익히는 프로그래밍의 기본 원리)',
 '이것이 취업을 위한 코딩 테스트다 with <b>파이썬</b> (취업과 이직을 결정하는 알고리즘 인터뷰 완벽 가이드)',
 'Do it! 점프 투 <b>파이썬</b>']

In [ ]:
authors = [result['items'][n]['author'] for n in range(3)]
authors

['우재남', '나동빈', '박응용']

In [ ]:
pubdates = [result['items'][n]['pubdate'] for n in range(3)]
pubdates

['20220103', '20200805', '20190620']

In [ ]:
pd.DataFrame({'책제목':titles, '작가':authors, '출판일':pubdates})

                                                 책제목   작가       출판일
0  <b>파이썬</b> for Beginner (쉽고 빠르게 익히는 프로그래밍의 기본 원리)  우재남  20220103
1  이것이 취업을 위한 코딩 테스트다 with <b>파이썬</b> (취업과 이직을 결정...  나동빈  20200805
2                             Do it! 점프 투 <b>파이썬</b>  박응용  20190620

**2) 사용자 정의 함수 : get_dataframe()**
1.   parameter 값 정의: url
2.   return 값 정의 : DataFrame
3.   함수명 정의: def get_dataframe(url)

In [ ]:
def get_dataframe(url):
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id", client_id)
    request.add_header("X-Naver-Client-Secret", client_secret)
    
    response = urllib.request.urlopen(request)

    result = json.loads(response.read().decode('utf-8'))
    
    end_num = result['display']
    
    titles = [result['items'][n]['title'] for n in range(end_num)]
    authors = [result['items'][n]['author'] for n in range(end_num)]
    pubdates = [result['items'][n]['pubdate'] for n in range(end_num)]
    
    return pd.DataFrame({'책제목':titles, '작가':authors, '출판일':pubdates})

In [ ]:
url = create_url("book", "파이썬", 1, 10)
get_dataframe(url)

,책제목,작가,출판일
0,<b>파이썬</b> for Beginner (쉽고 빠르게 익히는 프로그래밍의 기본 원리),우재남,20220103
1,이것이 취업을 위한 코딩 테스트다 with <b>파이썬</b> (취업과 이직을 결정...,나동빈,20200805
2,Do it! 점프 투 <b>파이썬</b>,박응용,20190620
3,혼자 공부하는 <b>파이썬</b> (<b>파이썬</b> 최신 버전 반영),윤인성,20190610
4,<b>파이썬</b> Express (파워 유저를 위한),천인국,20201120
5,<b>파이썬</b>으로 배우는 공업수학,김도영|김재현|김현태|정보현|정순모,20220301
6,컴퓨팅 기반 문제해결 with <b>파이썬</b>,장은실,20220126
7,<b>파이썬</b> 알고리즘 인터뷰 (95가지 알고리즘 문제 풀이로 완성하는 코딩 ...,박상길,20200715
8,난생처음 <b>파이썬</b> 프로그래밍,우재남|최민아,20210628
9,<b>파이썬</b>과 데이터 과학 (따라하며 배우는),천인국|박동규|강영민,20201228

질문)
**어떻게 한번에 100개 이상의 데이터를 다운로드 받을 것인가?**

In [ ]:
#start_num
[n for n in range(1,300,100)]

[1, 101, 201]

In [ ]:
result_search = []

for n in range(1,300,100):
    url = create_url("book", "파이썬", n, 100)
    result_search.append(get_dataframe(url))

result_search
result_search = pd.concat(result_search) # pd.concat([df, df, df])
result_search

**3) 사용자 정의 함수 : get_naversearch()**
1.   parameter 값 정의: search_type, search_text, total_num, display_num
2.   return 값 정의 : DataFrame
3.   함수명 정의: def naversearch(search_type, search_text, total_num, display_num)

In [ ]:
# 판다스 데이블 전체보기
#pd.set_option('display.max_rows', None)
# 판다스 초기화
pd.reset_option('^display.', silent=True)

In [ ]:
result_search = []
def get_naversearch(search_type, search_text, total_num, display_num):
  for n in range(1,total_num, display_num):
      url = create_url(search_type, search_text, n, display_num)
      result_search.append(get_dataframe(url))
  return pd.concat(result_search)

In [ ]:
f_result= get_naversearch('book', 'python', 300, 100)

In [ ]:
f_result

,책제목,작가,출판일
0,미적분과 벡터해석 기초 with <b>Python</b>,심성아|윤기헌,20220228
1,<b>Python</b> 실습으로 기초부터 (컴퓨팅 사고를 키우기 위한 첫 걸음),이진영,20210322
2,<b>Python</b>으로 배우는 문제해결과 인공지능,김현정|오경선,20210225
3,CODING BASICS <b>PYTHON</b> (파이썬),김상민|장성식|김일태,20220210
4,<b>Python</b> Challenges: 100 Proven Programmi...,Inden|Michael,20220313
...,...,...,...
95,<b>Python</b> Data Science (The Ultimate Guide...,Steve Blair,20210416
96,Mastering <b>Python</b> for Bioinformatics: Ho...,Youens-Clark|Ken,20210615
97,<b>PYTHON</b> PROGRAMMING SERIES 2 (THIS BOOK ...,John Brown,20210416
98,<b>PYTHON</b> PROGRAMMING SERIES 2 (THIS BOOK ...,John Brown,20210416
99,<b>PYTHON</b> AND HTML PROGRAMMING (THIS BOOK ...,John Brown,20210410

In [ ]:
f_result.tail()

,책제목,작가,출판일
95,<b>Python</b> Data Science (The Ultimate Guide...,Steve Blair,20210416
96,Mastering <b>Python</b> for Bioinformatics: Ho...,Youens-Clark|Ken,20210615
97,<b>PYTHON</b> PROGRAMMING SERIES 2 (THIS BOOK ...,John Brown,20210416
98,<b>PYTHON</b> PROGRAMMING SERIES 2 (THIS BOOK ...,John Brown,20210416
99,<b>PYTHON</b> AND HTML PROGRAMMING (THIS BOOK ...,John Brown,20210410

In [ ]:
f_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     300 non-null    object
 1   작가      300 non-null    object
 2   출판일     300 non-null    object
dtypes: object(3)
memory usage: 9.4+ KB

In [ ]:
f_result.to_excel('book.xlsx', sheet_name='Sheet1')